@import "tailwindcss";

@theme {
  --color-primary: #d70427;
  --color-background-light: #f8f5f6;
  --color-background-dark: #230f12;
  --font-display: "Space Grotesk", sans-serif;
  --font-sans: "Space Grotesk", sans-serif;
}

@layer base {
  body {
    @apply bg-background-light dark:bg-background-dark text-slate-900 dark:text-slate-100 min-h-screen font-display;
  }
}

.car-card:hover .car-image {
  transform: scale(1.05);
}

.car-image {
  transition: transform 0.3s ease-in-out;
}